streamlit
numpy
pandas
python-dotenv

# Face Recognition
scikit-learn
dlib-bin; sys_platform == 'win32'
dlib; sys_platform != 'win32'
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

# Database & Security
supabase
bcrypt

# QR Code & Image
segno
pillow

# Voice Recognition
librosa
torch
resemblyzer
webrtcvad-wheels; sys_platform == 'win32'
webrtcvad; sys_platform != 'win32'